ETL USERS ITEMS

Carga, Transformacion y primer analisis exploratorio del archivo "users_items.json.gz"

In [55]:
"""Cargamos las librerias necesarias para poder trabajar este archivo adecuadamente"""
import pandas as pd  
import ast 
import re
import gzip
import json
import os

In [56]:

Ruta_users_items = []

with gzip.open('C:/Users/Daniel/Downloads/PI_01_07/Data/users_items.json.gz', 'rb') as f : 
    for line in f:
        Ruta_users_items.append(ast.literal_eval(line.decode('utf_8')))
Df_users_items = pd.DataFrame(Ruta_users_items)
f.close()

 Ahora que el archivo esta debidamente cargado reviso la informacion y asi ver como trabajare estos datos

In [57]:
Df_users_items

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."
...,...,...,...,...,...
88305,76561198323066619,22,76561198323066619,http://steamcommunity.com/profiles/76561198323...,"[{'item_id': '413850', 'item_name': 'CS:GO Pla..."
88306,76561198326700687,177,76561198326700687,http://steamcommunity.com/profiles/76561198326...,"[{'item_id': '11020', 'item_name': 'TrackMania..."
88307,XxLaughingJackClown77xX,0,76561198328759259,http://steamcommunity.com/id/XxLaughingJackClo...,[]
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"[{'item_id': '304930', 'item_name': 'Unturned'..."
88309,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick,[]

In [58]:
Df_users_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88310 entries, 0 to 88309
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      88310 non-null  object
 1   items_count  88310 non-null  int64
 2   steam_id     88310 non-null  object
 3   user_url     88310 non-null  object
 4   items        88310 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.4+ MB

In [59]:
Df_users_items.describe().T

               count       mean         std  min  25%   50%   75%     max
items_count  88310.0  58.353629  122.312095  0.0  3.0  26.0  73.0  7762.0

In [60]:
Df_users_items['items']

0        [{'item_id': '10', 'item_name': 'Counter-Strik...
1        [{'item_id': '10', 'item_name': 'Counter-Strik...
2        [{'item_id': '1200', 'item_name': 'Red Orchest...
3        [{'item_id': '10', 'item_name': 'Counter-Strik...
4        [{'item_id': '300', 'item_name': 'Day of Defea...
                               ...
88305    [{'item_id': '413850', 'item_name': 'CS:GO Pla...
88306    [{'item_id': '11020', 'item_name': 'TrackMania...
88307                                                   []
88308    [{'item_id': '304930', 'item_name': 'Unturned'...
88309                                                   []
Name: items, Length: 88310, dtype: object

In [61]:
Df_users_items['items_count'].unique()

array([ 277,  888,  137,  328,  541,  371,  304,  258,  629,    0,  115,
         71,  253,   55,   14,  103,   59,  174,   33,   28,  524,  121,
         96,  152,   12,   99,   88,  185,   43,   77,   50,   62,  196,
         68,   49,   95,   32,   48,   75,   11,   10,   73,    5,    6,
        106,   65,   25,   51,    7,   81,   13,   78,   56,   72,  149,
         74,  168,   20,   64,  190,   27,  200,   41,   26,  161,   46,
         30,   34,   31,   18,  214,  188,  172,   15,   83,   67,   38,
         16,  476,  124,   36,   79,  255,   21,   66,   94,   39,  257,
        306,  133,   52,  123,   76,   87,  153,   23,   80,  108,   57,
        344,    8,  456,   22,   24,   42,  173,   82,   69,  191,   17,
          3,    4,  461,  113,  186,   70,   45,  151,  110,    2,  213,
        107,  162,  176,   91,   53,  141,  160,    9,   37,  307,  112,
         92,  391,  179,  131,   40,  104,    1,  105,  116,   19,  197,
        195,   35,  125,  111,  114,  310,  365,  193,  250,  143,   58,
         93,  100,   44,  763,   29,  130,   61,  791,  129,  723,  333,
        138,  279,   86,  135,   63,   90,  154,  690,  122,  261,  230,
        178,  664,   89,  184,  132,  128,  404,  164,   47,  278,   54,
        109,  206,  120,  390,  557,  228,   97,  207,  236,  101,  245,
         84, 1041,  397,  140,  198,  102,  127,  246,  136,  523,  212,
        389,  331,  296,  182,  264,  309,  119,   85,  222,  170,  167,
        267,  117,  165,  297,  126,  181,  215,  460,  144,  232,  183,
        134,  199,  118,  285,  601,  177,  187,  139,  229,  158,  385,
        269,  421, 1280,  398,  247,  263,  145,  156,  244,  159, 1044,
        583,  459,  237,  204,  171,  146,  223,  157,  347,  175,   60,
        208,  169,  377,  288,  220,  384,   98,  248,  163,  260,  573,
        166,  251, 6410,  291,  147,  242,  219,  201,  189,  155,  480,
        233,  293,  282,  221,  273,  342,  299,  266,  234,  292,  441,
        437,  419,  337,  373,  194,  547,  360, 1233,  540,  265,  339,
        203,  211,  315,  287,  303,  275,  380,  567,  226,  343,  217,
        515,  355,  322,  374,  218,  336, 2122,  357,  560,  412,  300,
        311,  553,  383,  142,  388,  425,  823,  271,  294,  395,  402,
        361,  239,  595,  238,  270,  579,  320,  358,  820,  434,  150,
        718,  352, 1166,  231,  224, 1162,  584,  326,  321,  210,  209,
        259,  375,  329,  308,  312,  603,  423, 1946,  510,  439,  216,
        180,  148,  356,  252,  192,  871,  400,  590,  205,  241,  686,
        280,  325,  274,  474,  378,  305,  225,  605,  754,  477,  623,
        420,  497,  489,  202,  491,  335,  443,  505,  452,  394,  298,
        359,  667,  301,  675,  243,  327,  382, 1184,  688,  349, 1018,
        235,  286, 7762,  600, 2157,  662,  550, 4212, 1525,  413,  367,
        591,  314,  471,  743,  689,  508,  446,  368,  240,  366, 1120,
        289,  418,  346,  479,  535,  528,  632,  350,  485,  348,  428,
        401,  276,  386,  958,  268,  988,  284,  756,  468,  594,  707,
        341,  338,  283, 1306, 2983,  256,  353,  362,  409,  487,  436,
       1144, 2697, 1371,  926,  552,  430,  340,  709,  332, 5027,  861,
       6132,  812, 2585,  569,  290,  852,  334,  414,  324,  433,  302,
        295,  534,  747,  429,  323,  617,  525,  363,  227,  399,  631,
        254,  417,  636,  408, 1835,  406, 1112, 2509,  517,  345,  966,
       1063,  599, 2897,  571, 1051,  403, 1391, 1282, 1010,  330,  496,
        897,  475,  424,  641,  318,  435,  370,  587,  898,  921,  700,
        317, 1482,  457,  319,  866,  640, 1333, 1158,  562,  577,  527,
        379,  516,  816,  519, 3876,  514,  262,  249,  448,  407,  281,
        455,  445,  503,  499,  387,  799,  899, 1543,  451,  440,  458,
        713,  536,  272,  410,  381,  364,  543,  470,  609,  620, 1211,
        447,  482,  993, 1346,  504,  671,  465,  870, 1656, 1457,  467,
        463, 1311,  793,  694,  765,  755,  615,  511, 1382,  396,  316,
        753,  725,  896,  582, 2555,  354,  568,  512,  706,  655,  886,
        802,  351, 1617,  431,  405,  777,  773,  513, 1259,  653,  877,
        784,  699,  963,  814,  602,  422,  518,  313,  829,  721,  639,
        427,  432,  580, 1003,  598,  488, 1750,  520,  549,  486,  726,
        509,  490,  551,  392,  481,  393,  531,  494,  438,  469,  712,
       2050,  493,  804,  565,  462,  677,  566,  831, 1025,  736,  372,
        502,  674,  806, 2415,  767, 1777,  742, 1640,  530,  570,  544,
        610,  734,  882,  627,  621,  651,  728,  733,  805,  483,  563,
        618,  942, 1103, 1621,  970, 1271,  369,  450,  842, 1464,  442,
        759, 4432,  695,  478,  472,  561,  532,  449, 1097, 1614,  604,
        679,  669,  682,  411,  769,  971,  415,  832, 1204, 2923, 1597,
        454, 1575,  656,  668,  548,  720, 1842, 6700, 1576, 1969,  997,
        884,  708, 3214,  611, 1808,  642, 2098, 2287,  684,  633, 1016,
        376,  572,  538, 1870,  710, 1352,  741,  507, 1017, 1581,  537,
       1023,  995,  681,  698, 3730,  484, 1066,  815,  643, 1160,  464,
        555,  648,  606, 1595,  881,  932, 2070,  647,  542,  869,  860,
        874,  607,  500, 4456,  466,  564, 2332,  862,  858, 1531, 3264,
       2502, 1294,  649,  597, 1062,  526, 1951,  622, 1203,  783,  883,
       1806,  473,  828,  426, 1443, 1483,  807, 1444, 1029,  865,  613,
        975, 1340, 2691,  952,  761,  790,  657,  945,  691, 1588,  546,
        947, 1574,  539,  652,  873, 1024, 1139,  751,  892, 2755,  834,
       1323, 1283,  558, 1035,  416,  670,  498,  453,  586,  835,  705,
       1079,  730,  659, 2730, 1027,  593, 2183,  711, 1186, 4576,  912,
        644, 1111, 1050, 1168,  928, 1269,  637,  766,  851, 1304,  779,
        801, 1197, 2161,  752,  792, 3205, 3467,  661, 1013,  826,  678,
        672, 1332, 1049, 1409,  868,  735,  492, 1008,  506,  732, 2316,
        589, 2018,  559, 1361, 1251,  864,  704,  797, 1040,  556, 1075,
        776, 1212,  738,  588,  778, 1747,  798,  529,  624, 1192,  905,
        909,  596, 1622,  533,  696,  715,  722,  693, 1081,  787, 3603,
       1173], dtype=int64)

In [62]:
Df_users_items['user_url']

0        http://steamcommunity.com/profiles/76561197970...
1                     http://steamcommunity.com/id/js41637
2                   http://steamcommunity.com/id/evcentric
3                  http://steamcommunity.com/id/Riot-Punch
4                       http://steamcommunity.com/id/doctr
                               ...
88305    http://steamcommunity.com/profiles/76561198323...
88306    http://steamcommunity.com/profiles/76561198326...
88307    http://steamcommunity.com/id/XxLaughingJackClo...
88308    http://steamcommunity.com/profiles/76561198329...
88309       http://steamcommunity.com/id/edward_tremethick
Name: user_url, Length: 88310, dtype: object

In [63]:
""" puedo observar que este dataset  contiene  una columna con datos anidados, pore lo cual, procedo a desanidarlo"""

# Lista vacÃ­a para almacenar los datos desanidados
items_desanidados = []

# Iterar a travÃ©s de cada fila del DataFrame df_items
for indice, row in Df_users_items.iterrows():
    # Obtener los valores de las columnas de interÃ©s de cada fila
    user_id = row['user_id']
    steam_id = row['steam_id']
    user_url = row['user_url']

    # Iterar a travÃ©s de los elementos de la columna 'items' de la fila actual
    for i in row['items']:
        # Crear un nuevo diccionario con los datos desanidados de cada Ã­tem
        nuevo = {
            'user_id': user_id,
            'steam_id': steam_id,
            'user_url': user_url,
            'item_id': i['item_id'],
            'item_name': i['item_name'],
            'playtime_forever': i['playtime_forever'],
            'playtime_2weeks': i['playtime_2weeks']
        }
        # Agregar el diccionario a la lista 'desanidado'
        items_desanidados.append(nuevo)

# Actualizo df_items a partir de la lista de datos desanidados
Df_users_items = pd.DataFrame(items_desanidados)

In [64]:
Df_users_items

,user_id,steam_id,user_url,item_id,item_name,playtime_forever,playtime_2weeks
0,76561197970982479,76561197970982479,http://steamcommunity.com/profiles/76561197970...,10,Counter-Strike,6,0
1,76561197970982479,76561197970982479,http://steamcommunity.com/profiles/76561197970...,20,Team Fortress Classic,0,0
2,76561197970982479,76561197970982479,http://steamcommunity.com/profiles/76561197970...,30,Day of Defeat,7,0
3,76561197970982479,76561197970982479,http://steamcommunity.com/profiles/76561197970...,40,Deathmatch Classic,0,0
4,76561197970982479,76561197970982479,http://steamcommunity.com/profiles/76561197970...,50,Half-Life: Opposing Force,0,0
...,...,...,...,...,...,...,...
5153204,76561198329548331,76561198329548331,http://steamcommunity.com/profiles/76561198329...,346330,BrainBread 2,0,0
5153205,76561198329548331,76561198329548331,http://steamcommunity.com/profiles/76561198329...,373330,All Is Dust,0,0
5153206,76561198329548331,76561198329548331,http://steamcommunity.com/profiles/76561198329...,388490,One Way To Die: Steam Edition,3,3
5153207,76561198329548331,76561198329548331,http://steamcommunity.com/profiles/76561198329...,521570,You Have 10 Seconds 2,4,4
5153208,76561198329548331,76561198329548331,http://steamcommunity.com/profiles/76561198329...,519140,Minds Eyes,3,3

In [65]:
Df_users_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5153209 entries, 0 to 5153208
Data columns (total 7 columns):
 #   Column            Dtype
---  ------            -----
 0   user_id           object
 1   steam_id          object
 2   user_url          object
 3   item_id           object
 4   item_name         object
 5   playtime_forever  int64
 6   playtime_2weeks   int64
dtypes: int64(2), object(5)
memory usage: 275.2+ MB

In [66]:
# Imprimir encabezado
print("InformaciÃ³n de tipos de datos y valores nulos:")

# Obtener tipos de datos
data_types = Df_users_items.dtypes

# Calcular porcentaje de valores nulos
missing_values_percent = (Df_users_items.isnull().sum() / len(Df_users_items)) * 100

# Crear DataFrame
df_info = pd.DataFrame({
  "nombre_columna": data_types.index,
  "tipo_datos": data_types.values,
  "no_nulos": Df_users_items.shape[0] - Df_users_items.isnull().sum(axis=0),
  "%nulos": missing_values_percent.round(2)
})

df_info

InformaciÃ³n de tipos de datos y valores nulos:

                    nombre_columna tipo_datos  no_nulos  %nulos
user_id                    user_id     object   5153209     0.0
steam_id                  steam_id     object   5153209     0.0
user_url                  user_url     object   5153209     0.0
item_id                    item_id     object   5153209     0.0
item_name                item_name     object   5153209     0.0
playtime_forever  playtime_forever      int64   5153209     0.0
playtime_2weeks    playtime_2weeks      int64   5153209     0.0

In [67]:
duplicated = Df_users_items.loc[Df_users_items.duplicated()]
duplicated

,user_id,steam_id,user_url,item_id,item_name,playtime_forever,playtime_2weeks
164294,Nikiad,76561198084006094,http://steamcommunity.com/id/Nikiad,20,Team Fortress Classic,5,0
164295,Nikiad,76561198084006094,http://steamcommunity.com/id/Nikiad,50,Half-Life: Opposing Force,0,0
164296,Nikiad,76561198084006094,http://steamcommunity.com/id/Nikiad,70,Half-Life,0,0
164297,Nikiad,76561198084006094,http://steamcommunity.com/id/Nikiad,130,Half-Life: Blue Shift,0,0
164298,Nikiad,76561198084006094,http://steamcommunity.com/id/Nikiad,220,Half-Life 2,198,0
...,...,...,...,...,...,...,...
4898223,76561198080057659,76561198080057659,http://steamcommunity.com/profiles/76561198080...,213670,South Parkâ„¢: The Stick of Truthâ„¢,725,0
4898224,76561198080057659,76561198080057659,http://steamcommunity.com/profiles/76561198080...,221910,The Stanley Parable,53,0
4898225,76561198080057659,76561198080057659,http://steamcommunity.com/profiles/76561198080...,261030,The Walking Dead: Season Two,253,0
4898226,76561198080057659,76561198080057659,http://steamcommunity.com/profiles/76561198080...,273110,Counter-Strike Nexon: Zombies,0,0
4898227,76561198080057659,76561198080057659,http://steamcommunity.com/profiles/76561198080...,730,Counter-Strike: Global Offensive,0,0

In [68]:
""" elimino los valores duplicados """
Df_users_items.drop_duplicates(inplace=True)

In [69]:
Df_users_items = Df_users_items.drop(['playtime_2weeks', 'user_url'], axis=1)

In [70]:
Df_users_items

,user_id,steam_id,item_id,item_name,playtime_forever
0,76561197970982479,76561197970982479,10,Counter-Strike,6
1,76561197970982479,76561197970982479,20,Team Fortress Classic,0
2,76561197970982479,76561197970982479,30,Day of Defeat,7
3,76561197970982479,76561197970982479,40,Deathmatch Classic,0
4,76561197970982479,76561197970982479,50,Half-Life: Opposing Force,0
...,...,...,...,...,...
5153204,76561198329548331,76561198329548331,346330,BrainBread 2,0
5153205,76561198329548331,76561198329548331,373330,All Is Dust,0
5153206,76561198329548331,76561198329548331,388490,One Way To Die: Steam Edition,3
5153207,76561198329548331,76561198329548331,521570,You Have 10 Seconds 2,4
5153208,76561198329548331,76561198329548331,519140,Minds Eyes,3

In [76]:
""" Guardo el dataframe con las transformaciones hechas """
archivo_limpio = 'users_items_limpio.csv'
Df_users_items.to_csv(archivo_limpio, index=False, encoding='utf-8')